@{
    ViewData["Title"] = "Home Page";
}

<!-- Inside your .cshtml file or layout file -->
<head>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Ensure that you keep track of all your modules, work and study schedules here</a>.</p>
</div>
